#GOOGLE_VISION_API_KEY=your_google_vision_api_key
SPOONACULAR_API_KEY=your_spoonacular_api_key
GROQ_API_KEY=your_groq_api_key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
GROQ_MODEL=llama-3.1-8b-instan
#FOURSQUARE_API_KEY=your_foursquare_key_here
#FOURSQUARE_CLIENT_SECRET=your_client_secret_here
#LOGMEAL_API_KEY=your_logmeal_key_here
#GEOAPIFY_API_KEY=your_key_here
